<%- include('../../partials/header')%>
<%- include('../../partials/nav.ejs')%>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-title">
            <h2>Editar Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input type="text" class="form-control" name="title" placeholder="Definao titulo do Artigo">
                <textarea class="form-control" placeholder="Escreva o seu artigo" name="body" id="article"></textarea>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%=category.id%>"><%= category.title %></option>
                    <%  }) %>
                </select>
                <button class="btn btn-success mt-5">Atualizar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer')%></hr>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector:"#article",
        plugins:[
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen inserdatatime media save table paste emotions'
        ]
    })
</script>